<div class="content">
  <main class="edit-main">
    <%= render 'form' %>
  </main>
  <div id="editSideber"class="edit-sidebar">
    <p>質問するその前に</p>
    <p><b>質問するその前に</b></p>
    <p>このサイトはプログラミングに関するQ&Aを対象にしています。</p>
    <p>単なる議論に終わらず、解決可能な質問を歓迎します。</p>
    <p>これまでに試したことや調べたことを含め、質問内容を詳しく書くことで回答がつきやすくなります。</p>
    <p>使い方がわからないなど、このサイトそのものについての質問でしたら、<a href="#">meta</a>で受け付けています。</p>
    <a href="#">ヘルプセンターへ »</a>
    <a href="#">質問の手引き »</a>
  </div>
</div>
