<div class="content">
  <main>
    <div class="__head">
      <h2>すべての質問</h2>
      <ul>
        <li class="current_tab"><a href="#">新着</a></li>
        <li><a href="#link">リンク最多</a></li>
        <li><a href="#vote">票</a></li>
        <li><a href="#active">アクティブ</a></li>
        <li><a href="#notyet">未解決</a></li>
      </ul>
    </div>
    <div class="q-wrap">
      <ul class="q-list">
        <li class="q-item">
          <div class="count-wrap">
            <div class="votes box">
              <p>12<sapn class="num-text">票</sapn></p>
            </div>
            <div class="status box">
              <p>0<span class="num-text">回答</span></p>
            </div>
            <div class="views box">
              <p><span class="read-count">1230件の閲覧数</span></p>
            </div>
          </div>
          <div class="summary">
            <h3><a href="/questions/show" class="q-title">マルウェアが検出を試みるサンドボックスの比率について載っている文献を探しています</a></h3>
            <p class="q-text">マルウェア解析のためのサンドボックスの実現手法としては，Xenなどのハードウェア仮想化技術やQEMUなどのエミュレーション技術が知られています． マルウェアの多くはこうしたサンドボックスを検出しようとする（evasive malware）ため，マルウェアから検出されにくいtransparentなサンドボックスが望まれています． しかし，RDTSCやICMP ...</p>
            <a class="tag">swift3</a>
            <div class="user-block">
              <div class="log"><p><a>質問日時: </a>14年12月19日 8:02</p></div>
              <div class="user">
                <div class="user-avatar"><img src="https://placehold.jp/150x150.png" alt=""></div>
                <div class="user-name-box">
                  <a class="user-name" href="">yamada</a>
                  <p class="user-info">
                    <span class="reputation-score" title="信用度スコア: ">66</span>
                    <span class="badge" title="5 個の銅バッジ">
                      <span class="badge-icon badge3"></span>
                      <span class="badgecount">5</span>
                    </span>
                  </p>
                </div>
              </div>
            </div><!-- user-block -->
          </div>
        </li>
        <li class="q-item">
          <div class="count-wrap">
            <div class="votes box">
              <p>0<sapn class="num-text">票</sapn></p>
            </div>
            <div class="status box">
              <p>0<span class="num-text">回答</span></p>
            </div>
            <div class="views box">
              <p><span class="read-count">1230件の閲覧数</span></p>
            </div>
          </div>
          <div class="summary">
            <h3><a href="/questions/show" class="q-title">CentOS6へPython3.5をSCL経由でインストールしたのですが、Apacheで利用するには？</a></h3>
              <p class="q-text">きわめて微妙～な現象なので、説明がわかりにくく恐縮ですが 次のような当たり前の入力ボックスで <\input type="text" value="12345678" style="text-align:right;">ボックス内の文字の真ん中（たとえば4と5の間）をマウスで選択して、 その前後を交互に選択状態にするように カーソルを大きく（...</p>
              <a class="tag">python</a>
              <a class="tag">centos</a>
            <div class="user-block">
              <div class="log"><p><a>質問日時: </a>14年12月19日 8:02</p></div>
              <div class="user">
                <div class="user-avatar"><img src="https://placehold.jp/150x150.png" alt=""></div>
                <div class="user-name-box">
                  <a class="user-name" href="">yamada</a>
                  <p class="user-info">
                    <span class="reputation-score" title="信用度スコア: ">66</span>
                    <span class="badge" title="5 個の銅バッジ">
                      <span class="badge-icon badge3"></span>
                      <span class="badgecount">5</span>
                    </span>
                  </p>
                </div>
              </div>
            </div><!-- user-block -->
          </div>
        </li>
        <li class="q-item">
          <div class="count-wrap">
            <div class="votes box">
              <p>0<sapn class="num-text">票</sapn></p>
            </div>
            <div class="status box">
              <p>0<span class="num-text">回答</span></p>
            </div>
            <div class="views box">
              <p><span class="read-count">1230件の閲覧数</span></p>
            </div>
          </div>
          <div class="summary">
            <h3><a href="/questions/show" class="q-title">Swift3でUIImageの色情報を抜き出す</a></h3>
            <p class="q-text">マルウェア解析のためのサンドボックスの実現手法としては，Xenなどのハードウェア仮想化技術やQEMUなどのエミュレーション技術が知られています． マルウェアの多くはこうしたサンドボックスを検出しようとする（evasive malware）ため，マルウェアから検出されにくいtransparentなサンドボックスが望まれています． しかし，RDTSCやICMP ...</p>
            <a class="tag">swift3</a>
            <div class="user-block">
              <div class="log"><p><a>質問日時: </a>14年12月19日 8:02</p></div>
              <div class="user">
                <div class="user-avatar"><img src="https://placehold.jp/150x150.png" alt=""></div>
                <div class="user-name-box">
                  <a class="user-name" href="">yamada</a>
                  <p class="user-info">
                    <span class="reputation-score" title="信用度スコア: ">66</span>
                    <span class="badge" title="5 個の銅バッジ">
                      <span class="badge-icon badge3"></span>
                      <span class="badgecount">5</span>
                    </span>
                  </p>
                </div>
              </div>
            </div><!-- user-block -->
          </div>
        </li>
      </ul>
    </div>
  </main>


  <div id="sidebar">
    <div class="question-status box" id="question-status box">
      <h4 class="title">2,036</h4>
      <p>質問</p>
    </div>

    <div class="module" id="recent-tags">
      <h4 class="recent-tags-title">最近のタグ</h4>
      <ul id="recent-tags-list">
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">javascript</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">67</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">python</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">52</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">java</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">48</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">linux</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">40</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">css</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">27</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">html</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">25</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">ruby on rails</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">19</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">git</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">16</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">swift3</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">12</span>
        </li>
      </ul>
      <p class="tags-all more-tags-all"><a href="#">関連するタグを更に表示</a></p>
    </div>
  </div>
</div>
