<div class="__head question-show__head">
  <h2>このプログラムの言語をどうにかして変えられますか？</h2>
</div>
<div class="content">
  <main>
    <div class="q-list">
      <div class="q-block">
        <div class="evaluation">
          <a class="evaluation-good"></a>
          <p id="evaluation-count">0</p>
          <a class="evaluation-bad"></a>
        </div>
        <div class="summary">
          <p class="q-text-show">マルウェア解析のためのサンドボックスの実現手法としては，Xenなどのハードウェア仮想化技術やQEMUなどのエミュレーション技術が知られています． マルウェアの多くはこうしたサンドボックスを検出しようとする（evasive malware）ため，マルウェアから検出されにくいtransparentなサンドボックスが望まれています． しかし，RDTSCやICMP ...</p>
          <a class="tag">swift3</a>
          <div class="q-show-link-box">
            <a href="#">共有</a><a href="#">この回答を改善する</a>
          </div>
          <div class="user-block q-show-bg">
            <div class="log"><p>質問日時:30分前</p></div>
            <div class="user q-show">
              <div class="user-avatar"><img src="https://placehold.jp/150x150.png" alt=""></div>
              <div class="user-name-box">
                <a class="user-name" href="">yamada</a>
                <p class="user-info">
                  <span class="reputation-score" title="信用度スコア: ">66</span>
                </p>
              </div>
            </div>
          </div><!-- user-block -->
          <div class="q-show-add-comment">
            <a href="#">コメント追加</a>
          </div>
        </div>
      </div>
    </div>
    <div class="__head question-answer-head">
        <h2>１件の回答</h2>
        <ul>
          <li><a href="#">アクティブ</a></li>
          <li><a href="#">古い順</a></li>
          <li class="current_tab"><a href="#">票</a></li>
        </ul>
    </div>
    <ul class="q-list">
      <li class="q-item">
        <div class="evaluation">
          <a class="evaluation-good"></a>
          <p id="evaluation-count">0</p>
          <a class="evaluation-bad"></a>
        </div>
        <div class="summary">
          <p class="q-text-show">マルウェア解析のためのサンドボックスの実現手法としては，Xenなどのハードウェア仮想化技術やQEMUなどのエミュレーション技術が知られています． マルウェアの多くはこうしたサンドボックスを検出しようとする（evasive malware）ため，マルウェアから検出されにくいtransparentなサンドボックスが望まれています． しかし，RDTSCやICMP ...</p>
          <div class="q-show-link-box">
            <a href="#">共有</a><a href="#">この質問を改善する</a>
          </div>
          <div class="user-block">
            <div class="log"><p>回答日時:30分前</p></div>
            <div class="user">
              <div class="user-avatar"><img src="https://placehold.jp/150x150.png" alt=""></div>
              <div class="user-name-box">
                <a class="user-name" href="">yamada</a>
                <p class="user-info">
                  <span class="reputation-score" title="信用度スコア: ">66</span>
                  <span class="badge" title="5 個の銅バッジ">
                    <span class="badge-icon badge3"></span>
                    <span class="badgecount">5</span>
                  </span>
                </p>
              </div>
            </div>
          </div><!-- user-block -->
        </div>
      </li>
    </ul>
    <div class="answer">
      <h2>回答</h2>
      <div class="editor">
        <p style="text-align:center">editer入る予定</p>
      </div>
      <div class="editor-preview"><p style="text-align:center">preview入る予定</p></div>
    </div>
    <button class="submit-button">回答を投稿</button>
    <p>質問を投稿することで<a href="#">プライバシー ポリシー</a>および<a href="#">サービス利用規約</a>に同意したものとみなされます。</p>
    <p>求めていた回答ではありませんか?<a href="#" class="tag">php</a>のタグが付いた他の質問を参照するか、自分で質問をする。</p>
  </main>


  <div id="sidebar">
    <div class="question-show__status box">
      <P><span>質問を投稿</span><span class="number" >2</span> 日前</P>
      <P><span>閲覧回数</span><span class="number" >38</span> 回</P>
      <P><span>アクティブ</span><span class="number" >2</span> 日前</P>
    </div>

    <div class="module">
      <h3 class="relative-q-title">関連する質問</h3>
      <ul id="relative-q-list">
        <li><a class="propatytag">1</a><a href="#" class="q-link">phpでexecを用いてpsqlを動かす際にパスワードを与える方法について</a></li>
        <li><a class="propatytag propatytag--active">1</a><a href="#" class="q-link">PHPMyAdminはどうやってSQLをダンプしているのか</a></li>
        <li><a class="propatytag propatytag--active">9</a><a href="#" class="q-link">72文字を超えるパスワードを許容したい場合、password_hashを使うべきではない？</a></li>
        <li><a class="propatytag">1</a><a href="#" class="q-link">PHPからMySQLに接続がうまくできない</a></li>
        <li><a class="propatytag">2</a><a href="#" class="q-link">phpmyadminのインストールができない</a></li>
        <li><a class="propatytag">2</a><a href="#" class="q-link">phpmyadminが表示されない</a></li>
        <li><a class="propatytag propatytag--active">0</a><a href="#" class="q-link">nginx+php-fpm+phpmyadminセットアップ　phpファイルが動かない</a></li>
        <li><a class="propatytag">0</a><a href="#" class="q-link">phpMyAdminのポートフォワードがうまくいかない</a></li>
        <li><a class="propatytag">0</a><a href="#" class="q-link">phpからmysqlへの接続</a></li>
        <li><a class="propatytag">0</a><a href="#" class="q-link">PHPでパスワード認証がある外部サイトに自動でログインしたい</a></li>
      </ul>
    </div>
  </div>
</div>
