<div class="content">
  <main>
    <div class="__head">
      <h2>質問を見る</h2>
      <ul>
        <li><a href="#">アクティブ</a></li>
        <li><a href="#">人気</a></li>
        <li><a href="#">今週</a></li>
        <li><a href="#">今月</a></li>
      </ul>
    </div>
    <div class="main-tag">
      <a href="#" class="tag">javascript</a>
      <a href="#" class="tag">swift</a>
      <a href="#" class="tag">ios</a>
      <a href="#" class="tag">android</a>
      <a href="#" class="tag">ruby-on-rails</a>
      <a href="#" class="tag">php</a>
      <a href="#" class="tag">java</a>
      <a href="#" class="tag">ruby</a>
      <a href="#" class="tag">python</a>
      <a href="#" class="tag">monaca</a>
      <a href="#" class="other">その他の&nbsp;タグ</a>
    </div>
    <div class="q-wrap">
      <div class="new-post-activity info-alert"><a href="#">1件の質問が更新されました</a></div>
      <ul class="q-list">
        <li class="q-item">
          <div class="count-wrap fx">
            <div class="votes">
              <p>0<sapn class="num-text">票</sapn></p>
            </div>
            <div class="status">
              <p>0<span class="num-text">回答</span></p>
            </div>
            <div class="views">
              <p>11<span class="num-text">閲覧数</span></p>
            </div>
          </div>
          <div class="summary">
            <h3><a class="q-title">Swift3でUIImageの色情報を抜き出す</a></h3>
            <a class="tag">swift3</a>
            <div class="log"><a>更新日時: 5分前</a><a>x001017</a><p>1325</p></div>
          </div>
        </li>
      </ul>
      <ul class="q-list">
        <li class="q-item">
          <div class="count-wrap fx">
            <div class="votes">
              <p>0<sapn class="num-text">票</sapn></p>
            </div>
            <div class="status">
              <p>0<span class="num-text">回答</span></p>
            </div>
            <div class="views">
              <p>8<span class="num-text">閲覧数</span></p>
            </div>
          </div>
          <div class="summary">
            <h3><a class="q-title">CentOS6へPython3.5をSCL経由でインストールしたのですが、Apacheで利用するには？</a></h3>
              <a class="tag">python</a>
              <a class="tag">centos</a>
            <div class="log"><a>更新日時: 5分前</a><a>x001017</a><p>1325</p></div>
          </div>
        </li>
      </ul>
      <ul class="q-list">
        <li class="q-item">
          <div class="count-wrap fx">
            <div class="votes">
              <p>0<sapn class="num-text">票</sapn></p>
            </div>
            <div class="status">
              <p>0<span class="num-text">回答</span></p>
            </div>
            <div class="views">
              <p>11<span class="num-text">閲覧数</span></p>
            </div>
          </div>
          <div class="summary">
            <h3><a class="q-title">Swift3でUIImageの色情報を抜き出す</a></h3>
            <a class="tag">swift3</a>
            <div class="log"><a>更新日時: 5分前</a><a>x001017</a><p>1325</p></div>
          </div>
        </li>
      </ul>
    </div>
    <a id="moreQuestions" class="button" href="#">質問をもっと見る</a>
  </main>


  <div id="sidebar" class="mt5">
    <button class="question-buttton">
      <%= link_to "質問する", new_question_path %>
    </button>
    <div class="info-block" id="site-status">
      <h4 class="title">サイト統計情報</h4>
        <ul>
        <li><span class="stats-value">11,465</span><span class="stats-label">質問</span></li>
        <li><span class="stats-value">13,845</span><span class="stats-label">回答</span></li>
        <li><span class="stats-value">80%</span><span class="stats-label">回答済</span></li>
        <li><span class="stats-value">11,499</span><span class="stats-label">ユーザー</span></li>
        <li><span class="stats-value">8,122</span><span class="stats-label">訪問／日</span></li>
        </ul>
    </div>

    <div class="module" id="recent-tags">
      <h4 class="recent-tags-title">最近のタグ</h4>
      <ul id="recent-tags-list">
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">javascript</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">67</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">python</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">52</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">java</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">48</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">linux</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">40</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">css</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">27</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">html</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">25</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">ruby on rails</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">19</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">git</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">16</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">swift3</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">12</span>
        </li>
      </ul>
      <p class="tags-all recent-tags-all"><a href="#">すべてのタグ »</a></p>
    </div>
    <div id="feed-link" class="feed-link">
      <div class="feed-link-text">
          <a href="#" title="一番最近の 30 件の質問"><span class="feed-icon"></span>最近の質問フィード</a>
      </div>
    </div>
  </div>
  </div>
