<div class="content">
  <main class="w100p">
    <div class="__head">
      <h2>ユーザー</h2>
      <ul>
        <li class="current_tab"><a href="#">信用度</a></li>
        <li><a href="#">新規ユーザー</a></li>
        <li><a href="#">投票者</a></li>
        <li><a href="#">編集者</a></li>
        <li><a href="#">モデレーター</a></li>
      </ul>
    </div>
    <div class="u-wrap">
      <div class="u-head">
        <div class="u-search">
          <span>検索するユーザーを入力：</span>
          <form id="u-search" action="#" method="get" autocomplete="off" role="search">
            <input name="q" type="text" value="" tabindex="1" autocomplete="off" maxlength="50">
          </form>
        </div>
        <ul class="u-head-list">
          <li class="u-head-item"><a class="active" href="#">今週</a></li>
          <li class="u-head-item"><a href="#">今年</a></li>
          <li class="u-head-item"><a href="#">今四半期</a></li>
          <li class="u-head-item"><a href="#">今月</a></li>
          <li class="u-head-item"><a href="#">すべて</a></li>
        </ul>
      </div>
      <ul class="u-list">
      <% @users.each do |user| %>
        <li class="u-item">
            <div class="user-block">
              <div class="user">
                <div class="user-avatar">
                  <%= profile_img(user) %>
                </div>
                <div class="user-name-box">
                  <%= link_to user.name, user_path(user), class:"user-name" %>
                  <div class="user-info">
                    <p class="reputation-score" title="信用度スコア: "><%= (user.reputation_count)+1 %></p>
                    <p class="u-tags">swift, ios, javascript</p>
                  </div>
                </div>
              </div>
            </div><!-- user-block -->
        </li>
      <% end %>
      </ul>
    </div>
  </main>
</div>
