<div class="content">
  <main class="w100p user-show">
    <div class="__head">
      <ul>
        <li class="current_tab"><a href="#">プロフィール</a></li>
        <li><a href="#">アクティビティ</a></li>
      </ul>
      <div class="user-links">
        <a class="meta-user-icon" href="#">メタユーザー</a>
        <a class="net-pf-icon" href="#">ネットワークプロフィール</a>
      </div>
    </div>
    <div class="u_s-wrap">
      <div class="profile">
        <div class="profiele-card">
          <p class="profiele-image"><img src="https://placehold.jp/cce/aaa/300x300.png" alt=""></p>
          <p class="user-trust">10,848<span>信用度<span></p>
          <p>
            <span>1</span>
            <span>5</span>
            <span>26</span>
          </p>
        </div>
        <div class="profiele-info">
          <div class="user-card-name">
            <p class="user-name">pgrho</p>
            <p class="user-card-tag">総合の上位 0.90%</p>
          </div>
          <p class="profile-text">C#開発者（WPF・画像処理）<br>モバイルやWebもたまに</p>
        </div>
        <div class="profiele-other">
          <div class="fx3-box">
            <p>409<span>回答</span></p>
            <p>4<span>質問</span></p>
            <p>~33万<span>人にリーチ</span></p>
          </div>
          <ul>
            <li class="item ic_refresh">登録から 2 年、4 か月</li>
            <li class="item ic_eye">795 回プロフィールが閲覧されました</li>
            <li class="item ic_time">前回のログイン 34 分前</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  </div>
