<%= form_for([question, answer], remote: true) do |f| %>
  <%= f.hidden_field :question_id %>
  <%= f.text_area :content, class:"editor",  required:true  %>
  <div class="editor-preview"><p style="text-align:center">preview入る予定</p></div>
  </div>
  <%= f.submit class:"submit-button",value:"回答を投稿" %>
<% end %>
