<div class="content">
  <main class="w100p">
    <div class="__head">
      <h2>タグ</h2>
      <ul>
        <li class="current_tab"><a href="#">人気</a></li>
        <li><a href="#">名前</a></li>
        <li><a href="#">新規</a></li>
      </ul>
    </div>
    <div class="tags-wrap">
      <p class="tag-text">タグとは、あなたの質問をよく似た他の質問と一緒に分類するキーワードまたはラベルのことです。適切なタグを使用することで、他のユーザーがあなたの質問を検索したり、質問に対して回答したりすることが容易になります。</p>
      <div class="tags-head">
        <div class="tags-search">
          <span>検索するユーザーを入力：</span>
          <form id="tags-search" action="#" method="get" autocomplete="off" role="search">
            <input name="q" type="text" value="" tabindex="1" autocomplete="off" maxlength="50">
          </form>
        </div>
        <ul class="tags-head-list">
          <li class="tags-head-item"><a class="active" href="#">今週</a></li>
          <li class="tags-head-item"><a href="#">今年</a></li>
          <li class="tags-head-item"><a href="#">今四半期</a></li>
          <li class="tags-head-item"><a href="#">今月</a></li>
          <li class="tags-head-item"><a href="#">すべて</a></li>
        </ul>
      </div>
       <ul class="tags-list">
         <li class="tags-item">
            <div class="tags-block">
              <div class="tags-info">
                <p class="recent-tags-item">
                  <a href="#" class="tag post-tag" rel="tag">ruby on rails</a>
                  <span class="item-multiplier-x">×</span>
                  <span class="item-multiplier-count">19</span>
                </p>
                <div class="tags-expect">
                  <p>JavaScriptとは、プログラミング言語のひとつである。Javaと名前が似ているが、異なるプログラミング言語である。
  オブジェクト指向のスクリプト言語であることを特徴とする。</p>
                  <p>実行環境が主にウェブブラウザに実装され、動的なウェブサイト構築や、リッチインターネットアプリケーションなど高度なユーザインタフェースの開発に用いられる。</p>
                </div>
                <p class="tags-info-text"><span>14</span>件の今週の質問数,<span>47</span>件の今月の質問数</p>
              </div>
            </div><!-- tags-block -->
        </li>
         <li class="tags-item">
            <div class="tags-block">
              <div class="tags-info">
                <p class="recent-tags-item">
                  <a href="#" class="tag post-tag" rel="tag">ruby on rails</a>
                  <span class="item-multiplier-x">×</span>
                  <span class="item-multiplier-count">19</span>
                </p>
                <div class="tags-expect">
                  <p>JavaScriptとは、プログラミング言語のひとつである。Javaと名前が似ているが、異なるプログラミング言語である。
  オブジェクト指向のスクリプト言語であることを特徴とする。</p>
                </div>
                <p class="tags-info-text"><span>14</span>件の今週の質問数,<span>47</span>件の今月の質問数</p>
              </div>
            </div><!-- tags-block -->
        </li>
         <li class="tags-item">
            <div class="tags-block">
              <div class="tags-info">
                <p class="recent-tags-item">
                  <a href="#" class="tag post-tag" rel="tag">ruby on rails</a>
                  <span class="item-multiplier-x">×</span>
                  <span class="item-multiplier-count">19</span>
                </p>
                <div class="tags-expect">
                  <p>実行環境が主にウェブブラウザに実装され、動的なウェブサイト構築や、リッチインターネットアプリケーションなど高度なユーザインタフェースの開発に用いられる。</p>
                </div>
                <p class="tags-info-text"><span>14</span>件の今週の質問数,<span>47</span>件の今月の質問数</p>
              </div>
            </div><!-- tags-block -->
        </li>
         <li class="tags-item">
            <div class="tags-block">
              <div class="tags-info">
                <p class="recent-tags-item">
                  <a href="#" class="tag post-tag" rel="tag">ruby on rails</a>
                  <span class="item-multiplier-x">×</span>
                  <span class="item-multiplier-count">19</span>
                </p>
                <div class="tags-expect">
                  <p>JavaScriptとは、プログラミング言語のひとつである。Javaと名前が似ているが、異なるプログラミング言語である。
  オブジェクト指向のスクリプト言語であることを特徴とする。</p>
                  <p>実行環境が主にウェブブラウザに実装され、動的なウェブサイト構築や、リッチインターネットアプリケーションなど高度なユーザインタフェースの開発に用いられる。</p>
                </div>
                <p class="tags-info-text"><span>14</span>件の今週の質問数,<span>47</span>件の今月の質問数</p>
              </div>
            </div><!-- tags-block -->
        </li>
         <li class="tags-item">
            <div class="tags-block">
              <div class="tags-info">
                <p class="recent-tags-item">
                  <a href="#" class="tag post-tag" rel="tag">ruby on rails</a>
                  <span class="item-multiplier-x">×</span>
                  <span class="item-multiplier-count">19</span>
                </p>
                <div class="tags-expect">
                  <p>実行環境が主にウェブブラウザに実装され、動的なウェブサイト構築や、リッチインターネットアプリケーションなど高度なユーザインタフェースの開発に用いられる。</p>
                </div>
                <p class="tags-info-text"><span>14</span>件の今週の質問数,<span>47</span>件の今月の質問数</p>
              </div>
            </div><!-- tags-block -->
        </li>
      </ul>
    </div>
  </main>
</div>
