/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 *= require jquery.tagit
 */
 /*
   reset
 */
 a{text-decoration: none;color: inherit;}
 li{list-style-type: none;}


 /*
   base
 */

 body{
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   width: 100%;
 }

 .cf:after{
   content: "";
   display: block;
   clear: both;
 }

 .l-grid{
   width: 1060px;
   margin: auto;
   box-sizing: content-box;
   overflow: hidden;
  }

  .fx{ display: flex;}

  .mt5{
    margin-top: 5px;
  }
  .w100p{
    width: 100%;
  }
  ::-webkit-input-placeholder {
    color: #9FA6AD;
  }
  ::-moz-placeholder {
    color: #9FA6AD; opacity: 1;
  }
  :-ms-input-placeholder {
    color: #9FA6AD;
  }

 input[type="text"]{
   padding: 8px 10px;
   font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
   font-size: 14px;
   color: #3b4045;
   background: #FFF;
   border: 1px solid #c8ccd0;
 }
 input[type="text"]:focus{
   outline: 0;
   border: 1px solid #07C;
 }

 .new-post-activity{
   text-align: center;
   background: #e3f3ff;
 }
 a{
   color: #07C;
   text-decoration: none;
   cursor: pointer;
 }
 h1 a{
   color: #111;
 }
 .fixSb{
   position: fixed;
   top: 150px;
   z-index: 3;
   margin-left: 695px;
 }
 .question-buttton{
   border: 1px solid #0095ff;
   border-radius: 2px;
   margin-bottom: 20px;
   margin-left: auto;
   display: flex;
   padding: 5px 12px;
   font-size: 13px;
   color: #07c;
   background: rgba(0,119,204,0);
   touch-action: manipulation;
   transition: all .1s ease-in;
 }
 .question-buttton:hover{
   color: #005999;
   background-color: #e6f4ff;
   border-color: #07c;
 }
 /*
 .top-bar
 */

 .top-bar{
   border-top: 3px solid #F48024;
   box-shadow: 0 1px 0 rgba(12,13,14,0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 57px;
   z-index: 1050;
   background-color: #fafafb;
   transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
   height: 60px;
   box-sizing: border-box;
   line-height: 1;
   display: flex;
 }
 #site-title{
   padding-left: 30px;
   position: relative;
   margin-right: 50px;
   height: 57px;
 }
 #site-title a{
   font-size: 21px;
   font-weight: normal;
   color: #000;
   height: 57px;
   line-height: 2.8;
   width: 100%;
 }
 #site-title span{
   font-weight: bold;
 }
 #site-title:before {
   position: absolute;
   content: "スタック・オーバーフロー";
   font-size: 9px;
   bottom: 7px;
   left: 24px;
   color: #BCBBBB;
   transform: scale(.88,1);
   font-weight: lighter;
   letter-spacing: -1px;
 }
 #site-title:after {
   content: "BETA";
   background: #F58025;
   color: #fff;
   font-size: 7px;
   font-weight: bold;
   border-radius: 2px;
   padding: 2px;
   top: 24px;
   position: absolute;
   right: -34px;
 }
 .top-nav{
   display: flex;
   justify-content: flex-end;
   min-width: 1060px;
   margin: auto;
 }

 .top-nav a{
   color: #535a60;
   font-size: 14px;
   height: 57px;
   display: block;
   text-align: center;
   box-sizing: border-box;
   line-height: 58px;
   transition: background-color cubic-bezier(.165, .84, .44, 1) .25s,border-bottom-color ease-in-out .25s;
 }
 .top-nav a:hover{
   background: rgba(239,240,241,0.75);
 }
 .top-nav nav a{
   padding: 0 12px;
 }

 .top-nav .drop-menu{
  position: relative;
  padding-right: 20px;
 }
 .top-nav .drop-menu:after{
  position: absolute;
  top: calc(50% - 3px);
  right: 10px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid #858C93;
  border-right: 4px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 4px solid transparent;
 }
 .nav_content{
   width: 100%;
   display: flex;
 }
 .network-items{
   display: flex;
   width: 350px;
 }

 .network-items .icons{
   width: 36px;
   background-repeat: no-repeat;
   background-position: 50%;
 }
 .top-nav .message{
   padding-left: 30px;
   width: 147px;
   background-repeat: no-repeat;
   background-position: 8px 50%;
   background-image: url(ic_message.svg);
   font-size: 12px;
   letter-spacing: 0.6px;
   color: #fff;
 }
 .top-nav .message span{
   color: #2F96E8;
   font-weight: bold;
 }
 .recive{
   background-image: url(ic_inbox.svg);
 }
 .equalizer{
   background-image: url(ic_equalizer.svg);
 }
 .right-col{
   display: flex;
   align-items: center;
 }
 .right-col .mypage{
   padding: 0 12px;
   width: 80px;
   height: 32px;
   display: flex;
   align-items: center;
   margin-right: 10px;
   color: #07C;
   font-size: 11px;
 }
 .right-col .mypage:hover{
   color: #005999;
   background-color: rgba(0,119,204,0.1);
   font-size: 11px;
 }
 .right-col .logout{
   padding: 0 12px;
   width: 80px;
   height: 32px;
   display: flex;
   align-items: center;
   margin-right: 10px;
   color: #07C;
   font-size: 11px;
 }
 .right-col .logout:hover{
   color: #005999;
   background-color: rgba(0,119,204,0.1);
   font-size: 11px;
 }
 .right-col .login{
   padding: 0 12px;
   width: 80px;
   height: 32px;
   display: flex;
   align-items: center;
   margin-right: 10px;
   color: #07C;
   font-size: 13px;
 }
 .right-col .login:hover{
   color: #005999;
   background-color: rgba(0,119,204,0.1);
 }
 .right-col .button{
   color: #fff;
   height: 32px;
   display: flex;
   align-self: center;
   line-height: 15px;
   flex-direction: column;
   width: 48px;
   border-color: #07c;
   box-shadow: inset 0 1px 0 #66bfff;
 }
 .right-col .button:hover{
   background-color: #07c;
 }
 #search {
   display: flex;
   align-items: center;
   width: 100%;
 }
 #search input{
   margin:0 30px 0 5px;
   height: 36px;
   width: 100%;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-right: 5px;
   font-size: 13px;
   line-height: 1.5;
   color: #9FA6AD;
   background-image: url(ic_search.svg);
   background-repeat: no-repeat;
   background-position: 3px 4px;
   padding-left: 24px;
   border: 1px solid #c8ccd0;
   border-radius: 2px;
   background-color: #fff;
   box-shadow: inset 0 0 1px rgba(145,153,161,0.2), 0 0 0 rgba(255,255,255,0);
   transition: all 600ms cubic-bezier(.165, .84, .44, 1);
   outline: none;
 }

 #search input:hover{
   background-color: #fafafb;
   border-color: rgba(0,149,255,0.5);
   box-shadow: inset 0 1px 2px #e4e6e8, 0 0 2px rgba(0,119,204,0.1);
 }
 #search input:focus{
   color: #3b4045;
   background-color: #FFF;
   border-color: #0095ff;
   box-shadow: inset 0 2px 2px #fafafb, 0 0 5px rgba(0,119,204,0.5);
 }



 /*
  header
 */
 /*#header{
   padding: 40px 0 50px 15px;
   display: flex;
   box-sizing: border-box;
 }*/
 #header{
   padding: 40px 0 50px 15px;
   display: flex;
   box-sizing: border-box;
   margin-top: 60px;
 }
 .gnav{
   margin-left: auto;
   padding-top: 2px;
 }
 .gnav ul{
   letter-spacing: -0.4em;
 }
 .gnav li{
   letter-spacing: normal;
   display: inline-block;
 }
 .gnav li:not(:last-child){
   margin-right: 4px;
 }
 .gnav li a{
   padding: 5px 10px 5px;
   font-size: 14px;
   line-height: 1.3;
   color: #FFF;
   background: #9fa6ad;
   transition: background .15s ease;
 }
 .gnav li a:hover{
   background: #f69c55;
 }
 .gnav .active a{
   background: #f69c55;
 }



 /*
  content
 */
 .content{
   display: flex;
 }

 h2{
   color: #242729;
   font-size: 18px;
   line-height: 2.22;
   font-weight: normal;
 }



 /*
  main
 */
 .main-content{
   margin-top: 80px;
 }
 main{
   width: 728px;
   margin: 0;
   padding-bottom: 15px;
 }

 main .__head{
   height: 40px;
   border-bottom: 1px solid #e4e6e8;
   display: flex;
 }
 main .__head ul{
   display: flex;
   margin-left: auto;
 }
 main .__head a{
   display: block;
   padding: 7px 9px 10px;
   background-color: #FFF;
   border: 1px solid transparent;
   font-size: 12px;
   color: #848d95;
   transition: all .15s ease-in-out;
 }
 main .__head li{
   margin-right: 10px;
 }
 main .__head li:last-child{
   margin-right: 0;
 }
 .current_tab{
   border-right:1px solid #e4e6e8;
   border-bottom:2px solid #fff;
   border-left:1px solid #e4e6e8;
   padding-top: 2px;
   margin-bottom: auto;
   background: #f69c55;
 }
 main .__head .current_tab a{
   color: #242729;
 }
 .main-tag{
   margin: 10px 0;
   letter-spacing: -0.4em;
 }
 /*tagは共通クラス*/
 .tag{
   color: #39739d;
   background-color: #E1ECF4;
   border-color: transparent;
   display: inline-block;
   padding: 8px 9px 6px;
   margin: 2px 5px 2px 0;
   transition: all .15s ease-in-out;
   letter-spacing: normal;
 }
 .tag:hover{
   color: #33658a;
   background-color: #cee0ed;
 }
 .main-tag .other{
   color: #07C;
   font-size: 13px;
   line-height: 17px;
   letter-spacing: initial;
 }
 .main-tag .other:hover{
   color: #3af;
 }

 .new-post-activity{
   background: #EFF0F1;
   padding-top: 2px;
 }
 .new-post-activity a{
   color: #07C;
   text-decoration: none;
   cursor: pointer;
   font-size: 14px;
 }
 .new-post-activity a:hover{
     color: #3af;
 }
 .q-wrap{
   margin-bottom: 30px;
 }
 .q-item{
   display: flex;
   padding: 12px 0 16px 0;
   border-bottom: 1px solid #e4e6e8;
 }
 .count-wrap{
   margin-right: 10px;
 }
 .q-title{
   color: #07C;
   line-height: 1.3;
   margin-bottom: 1.2em;
   font-weight: 400;
   font-size: 16px;
 }
 .q-title:hover{
   color: #3af;
 }
 .q-text{
   font-size: 13px;
   color: #3b4045;
   margin: 5px auto;
   line-height: 1.4;
 }
 .count-wrap p{
   font-size: 17px;
   color: #848d95;
   height: 38px;
   display: inline-block;
   text-align: center;
   line-height: 1;
   padding: 8px 5px;
 }
 .votes{
   min-width: 38px;
   margin: 0 3px 0 0;
 }
 .status{
   min-width: 44px;
   margin: 0 3px 0 0;
 }
 .views{
   min-width: 43px;
   margin: 0 7px 0 0;
 }
 .num-text{
   font-size: 11px;
   display: block;
   margin-top: 2px;
 }
 .summary{
   width: 100%;
 }
 .summary .tag{
   font-size: 12px;
   padding: 5px 8px;
 }
 .summary .user-block{
   display: flex;
   flex-direction: column;
   width: 200px;
   margin-left: auto;
 }
 .log{
   display: flex;
   width: 100%;
   font-size: 12px;
   color: #9199a1;
   line-height: 1;
 }
 .summary .user{
   display: flex;
   margin-top: 3px;
 }
 .summary .user-avatar{
   width: 32px;
   height: 32px;
   margin-right: 5px;
 }
 .user-name-box{
   display: flex;
   flex-direction: column;
 }
 .summary .user-avatar>img{
   width: 100%;
 }
 .summary .user-name{
   color: #07C;
   font-size: 12px;
   line-height: 17px;
   font-weight: 400;
 }
 .summary .user-name:hover{
   color: #3af;
 }
 .summary .user-name{
   color: #07C;
   font-size: 12px;
   line-height: 17px;
   font-weight: 400;
 }
 .summary .user-name:hover{
   color: #3af;
 }

 .user-info{
   color: #848d95;
   font-size: 12px;
 }
 .reputation-score{
   font-weight: bold;
 }
 .badge{
   display: inline-block;
 }
 .badge-icon{
   display: inline-block;
   content: "";
   width: 5px;
   height: 5px;
   border-radius: 50%;
   vertical-align: middle;
   margin-left: 3px;
 }
 .badge3{
   background-color: #CC9966;
 }
 .button{
   color: #FFF;
   background-color: #0095ff;
   border-color: #07c;
   box-shadow: inset 0 1px 0 #66bfff;
   display: inline-block;
   box-sizing: border-box;
   font-weight: 400;
   line-height: 1;
   text-align: center;
   border-radius: 2px;
   outline: none;
   touch-action: manipulation;
   transition: all .1s ease-in;
   font-size: 13px;
   padding: 10px 8px;
   float: right;
 }
 .button:hover{
   color: rgba(255,255,255,0.9);
   background-color: #07c;
   border-color: #005999;
   box-shadow: inset 0 1px 0 #3af;
 }






 /*
  sideber
 */
 #sidebar{
   width: 300px;
   margin-left: auto;
 }

 .info-block{
   background: #fff7e3;
   word-wrap: break-word;
   padding: 18px 15px 8px 15px;
   border: 1px solid #E0DCBF;
   font-size: 14px;
   margin-bottom: 1.5em;
 }
 .info-block .title{
   color: #535a60;
   line-height: 1.3;
   font-size: 15px;
   font-weight: normal;
   margin-bottom: 12px;
 }
 .info-block li{
   width: 199px;
   font-size: 14px;
 }
 .info-block li:not(:last-child){
   border-bottom: 1px solid #D5E5EC;
 }
 .stats-value{
   text-align: right;
   width: 55px;
   padding: 5px 20px 6px 0;
   color: #242729;
   display: inline-block;
 }
 .stats-label{
   color: #586E78;
 }
 .recent-tags-title{
   font-size: 15px;
   color: #242729;
   margin-bottom: 12px;
   font-weight: 400;
 }
 .recent-tags-item{
   margin-bottom: 5px;
 }
 .post-tag{
   font-size: 12px;
   padding: 5px 8px 5px 8px;
   margin:2px 0 2px 0;
 }
 .item-multiplier-x {
   color: #848d95;
   font-size: 13px;
   line-height: 17px;
 }
 .item-multiplier-count {
   font-size: 11px;
   color: #6a737c;
 }
 .tags-all{
   margin-bottom: 40px;
 }
 .tags-all a{
   color: #07C;
   font-size: 13px;
 }
 .tags-all a:hover{
     color: #3af;
 }
 .feed-link{
   color: #07C;
   font-size: 13px;
   margin-bottom: 30px;
   padding-left: 12px;
 }
 .feed-link:hover{
     color: #3af;
 }



 /*
  footer
 */

 footer{
   background-color: #242729;
   padding-top: 20px;
   width: 100%;
 }
 .footer-wrap{
   padding: 15px 0 25px;
   box-sizing: border-box;
 }
 .top-footer-links a{
   margin: 0 .8em 0 0;
   color: #99d4ff;
   font-size: 11px;
   line-height: 22px;
 }
 .top-footer-links a:hover{
   color: #66bfff;
 }

 #footer-sites{
   display: flex;
   margin: 40px 0;
   width: 100%;
 }
 .row-column>p{
   font-size: 12px;
   line-height: 15px;
   margin-bottom: 20px;
   color: #fff;
   font-weight: bold;
   text-transform: uppercase;
 }
 .row-column ol{
   margin: 0;
   width: 152px;
 }
 .row-column li{
   line-height: 1.3em;
   margin-bottom: 10px;
 }
 .list-column{
   display: flex;
 }
 #footer-sites{
   font-size: 12px;
   line-height: 15px;
 }
 #footer-sites th{
   color: #fff;
 }
 #footer-sites a{
   color: #9fa6ad;
 }
 #footer-sites .more{
   font-weight: bold;
 }

 .copyright,.svnrev{
   padding-top: 10px;
   font-size: 11px;
   font-weight: 400;
   color: #5e666e;
 }
 .copyright a{
   text-decoration: underline;
 }

 img{
  max-width: 100%;
 }
