// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tags-head{
  display: flex;
  margin: 20px auto;
}
.tags-search{
  display: flex;
  justify-content: flex-start;
  input[type="text"]{
    box-shadow: 0 1px 2px rgba(12,13,14,0.1) inset;
    &:focus{
      border: 1px solid #07C;
    }
  }
  span{
    font-size: 14px;
    line-height: 18px;
    color: #242729;
    margin-top: 8px;
  }
}
.tag-text{
  font-size: 14px;
  margin-top: 10px;
}
.tags-head-list{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  a{
    color: #6a737c;
    font-size: 12px;
    margin-right: 3px;
    padding: 4px 6px;
  }
  a.active{
    color: #0C0D0E;
    font-weight: 400;
    border-bottom: 1px solid #f69c55;
  }
}
.tags-list{
  display: flex;
  flex-wrap: wrap;
  .tags-item {
    padding: 5px 6px 7px 7px;
    margin-bottom: 16px;
    width: 25%;
    box-sizing: border-box;
    transition:.1s ease-in-out;
    display: flex;
    .tags-block{
      display: flex;
      .tags-info{
        display: flex;
        flex-direction: column;
        }
        .tags-info-text{
          color: #3c3f44;
          font-size: 11px;
          line-height: 17px;
          margin-top: auto;
        }
      }
  }
  .tags{
    display: flex;
  }
  .tags-avatar{
    width: 48px;
    height: 48px;
    margin-right: 5px;
  }
  .tags-name-box{
    display: flex;
    flex-direction: column;
  }
  .tags-name{
    color: #07C;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
  .tags-name:hover{
    color: #3af;
  }
  .tags-expect{
    color: #858c93;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
  }
}
